body {
  font-family: 'Courier New', Courier, monospace;;
  background-image: url("images/code.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  color: wheat
}
h1 {
  color: wheat;
  font-family: 'Courier New', Courier, monospace;
  align-content: left;
}

a:link {
  color: pink;
}

a:visited {
  color: green;
}

a:hover {
  transition: margin-right 2s;
  text-shadow: 0 0 5px #ff0000;
}

.grocery {
  width: 200px;
  height: 150px;
}

.grow:hover
{
   -webkit-transform: scale(1.3);
   -ms-transform: scale(1.3);
    transform: scale(1.3);
}

table {
  border-collapse:separate;
  width: 50%;
  border:solid rgb(252, 251, 251) 1px;
  border-radius:6px;
  -moz-border-radius:6px;
  background-color: rgb(0, 0, 0)

}

td, th {
  border: none;
  text-align: left;
  vertical-align: top;
}

.icon {
  width: 20px;
  height: 20px;
}

.comments {
  padding-left: 35px;
  padding-right: 35px;
  background: darkslategrey;
  border-radius: 6px;
}

.userComments  .final {
  border:solid rgb(221, 221, 221) 1px;;
  border-radius:6px;
  background: rgb(221, 221, 221);
  color: black;
}

.commentByUser {
  font-weight: bold;
}